* {
  font-size: 14px;
  box-sizing: border-box;  
}

body {
  min-height: 100vh;
}

#root {
  min-height: 100%;
  max-width: 100%;
}

.app-wrapper {
  min-height: 100vh;
  min-width: 100vw;
  background-image: linear-gradient(rgba(255, 241, 214, 0.15), rgba(250, 234, 201, 0.383), rgba(193, 220, 250, 0.493));
}

.landing-wrapper {
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.nav-wrapper {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(2rem + 2vw);
  font-family: "Permanent Marker";
  font-size: 2rem;
  bottom: 0;
  background: linear-gradient(to right, #9C27B0, #E040FB);
  width: 100%;
} 

.option-box {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
}

.option {
  color: white;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow:scroll;
  overflow-x:hidden;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #FFFFFF;
  text-align: center;
  width: calc(18rem + 10vw);
  height: calc(18rem + 10vh);
  margin-bottom: ;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
  color: #8C55AA; 
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 1.65rem;
}

.sing-in-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-in-form input {
  width: calc(15rem + 5vw);
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  text-align: center;
  margin-bottom: 27px;
  font-family: 'Ubuntu', sans-serif;
}


.submit {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #9C27B0, #E040FB);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  width: 70px;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.chat {
  display: block;
  margin: auto !important;
  width: 30%;
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #9C27B0, #E040FB);
  border: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

#landing-submit {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #9C27B0, #E040FB);
  border: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  align-items: center;
  margin-left: 22%;
}

.sign-up-link {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #E1BEE7;
  font-size: 1rem;
}

a {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #E1BEE7;
  text-decoration: none
}

.question {
  padding: auto;
  color: #8C55AA; 
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 18px;
  padding-top: 20px;
}

.rule {
  color: #8C55AA; 
  font-family: 'Ubuntu', sans-serif;
}

.question-box {
  background-color: #FFFFFF;
  text-align: center;
  width: 80%;
  height: 250px;
  margin: 7em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  padding: 0px 30px;
}

.modal-box {
  background-color: #FFFFFF;
  width: 90%;
  height: 250px;
  margin: 7em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.rules-box {
  background-color: #FFFFFF;
  width: calc(15rem + 10vw);
  padding: 35px;
  margin: 7em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  align-items: center;
  justify-content: center;
}


.pre-next-buttons {
  display: inline-block;
  text-align: center;
  justify-content: center;
  width: 100%;
}
 .previous {
  display: inline-block;
  float: left;
  margin-left: 50px;
  text-align: center;
  padding: 10px 10px;
 }

 .next {
  display: inline-block;
  float: right;
  margin-right: 50px;
  width: 30%;
  text-align: center;
  padding: 10px 10px;
 }


.next:active {
  top: 2px;
}

.next:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}



.profile-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: flex-start;
  align-items: center;
}

.profile-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - (2vw + 3vh));
  justify-content: space-between;
  padding: 2rem;
  overflow-x: hidden;
}

.profile-header {
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 2rem;
}

.profile-name {
  color: #8C55AA;
  font-size: 3rem;
  font-weight: 900;
  text-shadow: 2px 2px #c8c6a9;
}

.svg {
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 1000;
  align-items: center;
  justify-content: center;
  background-color: rgb(16, 245, 35);
}

.svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #fc1010;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

.activity-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(193, 220, 250, 0.493);
  width: 100%;
}

.activity-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
}

.activity-1 {
  background-color: orchid;
}

.activity-2 {
  background-color: seashell;
}

.activity-3 {
  background-color: seagreen;
}

.stats-to-be-aware-of {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.stats-to-be-aware-of h3 {
  font-family: 'Noto Sans TC', sans-serif;
  
}

.stat-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
}

.stat-card {
  display: flex;
  flex-direction: column;
  background: white;
  flex-basis: 15rem;
  flex-wrap: wrap;
  flex-grow: 0;
  height: calc(13rem + 3vw);
  width: calc(13rem + 3vw);
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  padding: 1rem;
  line-height: 4rem;
  letter-spacing: 0.05rem;
  font-size: 1.5rem;
  margin: 0.5rem;
}

.stat-card h3 {
  font-weight: 1000;
}


.stat-card:hover,
.stat-card:focus {
  box-shadow: 0.1em 0.2em 0.4em 0.1em rgb(217, 0, 255);
  transform: translateY(-0.25em);
}

/* .card-1 {
  display: flex;
  flex-wrap: wrap;
}

.card-2 {
  display: flex;
  flex-wrap: wrap;
}

.card-3 {
  display: flex;
  flex-wrap: wrap;
}

.card-4 {
  display: flex;
  flex-wrap: wrap;
} */

.carousel-captions {
  color: red !important;

}

.percentage-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: red solid .5rem;
  padding: 3rem;
  border-radius: 50%;
}

.averages-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.average {
  align-items: center;
  justify-content: center;
}

.profile-stats {
  border: solid;
  border-color: linear-gradient(to right, #9C27B0, #E040FB);
}

.have-a-match {

}

.enter-chat-box {
  border: solid;
  border-color:rgb(16, 245, 35);
}

#about {
  height: calc(100vh - (2vw+ 3vh));
}

@media screen and (min-width: 1000px) {
  .option-box {
    width: 70rem;
  }

  .profile-container {
    display: flex;
    flex-direction: column;
    width: 70rem;
    height: calc(100vh - (2vw + 3vh));
    justify-content: space-between;
    padding: 1rem;
  }

  .stat-card {
    display: flex;
    flex-direction: column;
    background: white;
    height: 12.43rem;
    width: 12.43rem;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    padding: 1rem;
    line-height: 1.8rem;
    letter-spacing: 0.05rem;
  }

  } 

