* {
  box-sizing: border-box;  
}

html{
  margin: 0px;
  min-height: 100vh;
}

body {
  height: 100%;
  background-color: purple;
}

#root {
  background-color: blue;
  min-height: 100%;
  max-width: 100%;
}

.app-wrapper {
  background-color: red;
  min-height: 100%;
}

.landing-wrapper {
  height: 100vh;
  background-color: yellow;
  background: url(https://www.discourse.org/a/img/logo-card-image.jpg);
}

.nav-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: green;
  height: 5vh;
  align-items: center;
} 

.str-chat {
  height: 20vh;
}
